#p {
    text-align: right;/* Texto alineado a la derecha */
}

.vertical-menu {
  width: 200px;/* Ancho */ 
}

.vertical-menu a {
  background-color: #eee; /* Color de fondo */
  color: black; /* Color */
  display: block; /* Muestra un elemento como un elemento de bloque */
  padding: 12px; /* Genera un espacio alrededor del elemento */
  text-decoration: none; /* Decoracion del texto = ninguna */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Color de fondo */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Color de fondo */
  color: white;/* Color */
}

#cuerpoteo {
margin: 20px;
padding: 20px;
border-width: 20px;
text-align: justify;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
height: 150%;
width: 80%;
background-color: #FFDAB9;
}

.contenedor-p{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

#cuerpoind {
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
height: auto;
width: 50%;
background-color: #AED6F1;
    overflow: hidden;
}

#cuerpocon {
margin: 20px;
padding: 20px;
border-width: 20px;
text-align: justify;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
height:750%;
width: 80%;
background-color: #DCDCDC;
}

#cuerpocalcu {
margin: 20px;
padding: 20px;
border-width: 20px;
text-align: justify;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
height: 100%;
width: 70%;
background-color: darksalmon;
}

#cuerpoint {
margin: 20px;
padding: 20px;
border-width: 20px;
text-align: justify;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
height: 800%;
width: 80%;
background-color:#DCDCDC;
}

#cuerpocal {
margin: 20px;
padding: 20px;
border-width: 20px;
text-align: justify;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
height: 90%;
width: 80%;
background-color: darksalmon;
}

#cuerpoteor {
margin: 20px;
padding: 20px;
border-width: 20px;
text-align: justify;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
height: 90%;
width: 70%;
background-color:#FFDAB9;
}

#titulo {
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-style: double;
border-bottom-color: darksalmon;
border-top-color: darksalmon;
border-left-color: darksalmon;
border-right-color: darksalmon;
background-color: darksalmon;
}

h1{
    font-weight: 100;
}

.button{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 15%;
    position: relative;
}

a{
    font-size: 18px;
    text-decoration: none;
    color: #6a6a6a;
    background: #f8f8f8;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    transition: .1s,color 1s;
    font-weight: 100;
}

a:hover{
    background: #333;
    color: #AED6F1;
}

.blanco{
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 10px;
}

#cuerpomaning {
margin: 20px;
padding: 20px;
border-width: 20px;
text-align: justify;

}